PORT=8080
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jecrc_community
DB_USER=postgres
DB_PASSWORD=12345678
DB_URL=postgres://postgres:12345678@localhost:5432/jecrc_community
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=3600s
GOOGLE_CLIENT_ID=your_google_client_id_here
CLIENT_URL=http://localhost:5173
CLIENT_SECRET=your_google_client_secret_here
ADMIN_EMAIL=admin@jecrc.ac.in
ADMIN_PASSWORD=AdminPassword@123
