PORT=8080
NODE_ENV=development
DB_URL=postgres://postgres:12345678@localhost:5432/jecrc_community
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=3600s
GOOGLE_CLIENT_ID=your_google_client_id_here
CLIENT_URL=http://localhost:5173
